*{
  margin:0;
  scroll-behavior: smooth;
}

.menuBurger {
  height: 4.5vmax !important;
}
#__react-alert__ div div div {
  width: auto !important;
}
.css-ohwg9z {
  width: 50%;
  position: relative;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #653db9 ;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

body {
  cursor: url(./images/ico.png), pointer;
}

/* a {
  cursor: url(./images/icon.png), pointer !important;
}

button{
  cursor: url(./images/icon.png), pointer !important;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: text-field;
}

.greenColor{
  color: green;
}
.redColor{
  color: red;
}